script(type="text/ng-template", id="tabs/tab.html")
    include tab
script(type="text/ng-template", id="tabs/tab-home.html")
    include tab-home
script(type="text/ng-template", id="tabs/tab-favs.html")
    include tab-favs
script(type="text/ng-template", id="tabs/tab-forecast.html")
    include tab-forecast
script(type="text/ng-template", id="tabs/tab-pals.html")
    include tab-pals
script(type="text/ng-template", id="tabs/tab-user.html")
    include tab-user
