ion-view(ng-attr-title="{{homeLabel}}")
    ion-content.has-header
        .list
            .item.text-center(ui-sref="tab.pals")
                span(ng-if="report.time")
                    small.item-note.float-left {{report.time}}
                    span(ng-repeat="msg in report.messages")
                        i.icon.big(ng-class="prettifyer.getReportIconCss(msg.code)")
                span(ng-if="!report.time")
                    i.icon.ion-ios7-pulse-strong &nbsp; {{res.str.reportfirst}}
            .item.text-center(ui-sref="tab.forecast")
                span(ng-if="rating.time")
                    small.item-note.float-left {{rating.time}}
                    span(ng-repeat="star in rating.stars")
                        i.icon.big(ng-class="prettifyer.getStarIconCss(star.type)")
                span(ng-if="!rating.time")
                    i.icon.ion-ios7-help-empty.big &nbsp;
                    i.icon.ion-ios7-help-empty.big &nbsp;
                    i.icon.ion-ios7-help-empty.big &nbsp;
                    i.icon.ion-ios7-help-empty.big &nbsp;
                    i.icon.ion-ios7-help-empty.big &nbsp;
            .item.text-center(ui-sref="tab.forecast")
                span(ng-if="nextRating.time")
                    small.item-note.float-left {{nextRating.time}}
                    span(ng-repeat="star in nextRating.stars")
                        i.icon.big(ng-class="prettifyer.getStarIconCss(star.type)")
                span(ng-if="!nextRating.time")
                    i.icon.ion-ios7-help-empty.big &nbsp;
                    i.icon.ion-ios7-help-empty.big &nbsp;
                    i.icon.ion-ios7-help-empty.big &nbsp;
                    i.icon.ion-ios7-help-empty.big &nbsp;
                    i.icon.ion-ios7-help-empty.big &nbsp;
        button.button.button-block.button-positive.button-outline(on-tap="sendReport('yes')")
            i.icon.ion-happy &nbsp; {{prettifyer.getText('yes')}}
        button.button.button-block.button-royal.button-outline(on-tap="sendReport('dunno')")
            i.icon.ion-social-tux &nbsp; {{prettifyer.getText('dunno')}}
        button.button.button-block.button-stable.button-outline(on-tap="sendReport('no')")
            i.icon.ion-beer &nbsp; {{prettifyer.getText('no')}}
