ion-tabs.tabs-icon-top
    ion-tab(title='{{res.str.home}}', icon='icon ion-ios7-home', href='#/tab/home')
        ion-nav-view(name='tab-home')
    ion-tab(title='{{res.str.favorites}}', icon='icon ion-ios7-heart', href='#/tab/favs')
        ion-nav-view(name='tab-favs')
    ion-tab(title='{{res.str.me}}', icon='icon ion-ios7-person', href='#/tab/user')
        ion-nav-view(name='tab-user')

