doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Surf Better

    if env.platform == 'cordova'
        link(href='fixes/ionic.css', rel='stylesheet')
    else
        link(href='lib/ionic/css/ionic.css', rel='stylesheet')

    link(href='css/style.css', rel='stylesheet')

    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='lib/angular-resource/angular-resource.js')
    script(src="lib/moment/moment.js")

    script(src="lib/angular-cache/dist/angular-cache.js")

    if env
        if env.platform == 'cordova'
            script(src='cordova.js')
            if env.debug
                script(src='http://#{env.weinreUrl}/target/target-script-min.js#anonymous')
        else
            script(src="lib/oauth-js/dist/oauth.js")
            if env.debug
                script(src="http://localhost:35729/livereload.js")

    script(src="fixes/ng-delay.js")
    script(src='app.js')

    body(ng-app='surf-better')

        ion-nav-bar.bar-stable.nav-title-slide-ios7
            ion-nav-back-button.button-icon.icon.ion-ios7-arrow-back

        ion-nav-view

        include tabs/_index
        include modals/_index
